*{
    box-sizing: content-box;
}

.TeamsAdd{
    height: 14%;
    vertical-align: middle;
    border: 1px solid lightgrey;
    margin-bottom: 5%;
    border-radius: 5px;
}

.TeamsAdd1{
    height: 14%;
    border: 1px solid lightgrey;
    margin-bottom: 5%;
    border-radius: 5px;
}

.TeamsAdd2{
    height: 14%;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;          
}
.child{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 120px;
    padding: 20px;
    margin: 0.25em;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5px;
}

.FlexBH5{
    color: lightgray;
}


.btn {
    display: inline-block;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 4px;
    font-size: 0.85em;
    
    /* hand icon appears on hover */
    cursor: pointer;
}

.btn-primary {
    background-color: red;
    color: white;
}

.btn-add {
    background-color: teal;
    color: white;
}


@media(max-width:650px){
    .parent{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;          
    }
    .child{
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 120px;
        height: 100%;
        padding: 10px;
        margin: 0.25em;
        border: 1px solid;
        border-color: lightgray;
        border-radius: 5px;
    }
}