.list-unstyled{
    padding: 0;
    margin: 0;
}

.list-inline li{
    display: inline-block;
}

.container{
    width: 92%;
    margin: 0 auto;
}

@media(min-width: 992px){
    .container{
        width: 80%;
        max-width: 1280px;
    }
}

@media(min-width:1600px){
    .container{
        width: 80%;
        max-width: 1280px;
    }
}